@model RockwellBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h1>Ticket Details</h1>

            </div>
            <div class="col offset-4">
                <a asp-action="Create" class="btn btn-primary btn-block shadow-lg">Create New</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">@Model.Title</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Project</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Title</td>
                                <td>@Model.Description</td>
                                <td>@Model.Created</td>
                                <td>@Model.Updated</td>
                                <td>@Model.Project.Name</td>
                                <td>@Model.TicketPriority.Name</td>
                                <td>@Model.TicketStatus.Name</td>
                                <td>@Model.TicketType.Name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Zero Configuration  Ends-->
    @*Task 1: List all of the current comments for this ticket
        Task 2: Give logged in users the ability add a new comment
    *@
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center">Add Comment</h3>
                            <form asp-action="Create" asp-controller="TicketComments" method="post">
                                <input type="hidden" name="TicketId" value="@Model.Id" />
                                <textarea name="Comment" rows="9" class="form-control"></textarea>
                                <p>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="btn-sm btn-dark btn-block">@Model.Comments.Count Comment(s)</div>

@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
{
<div class="row">
    <div class="col">
        <div class="media border p-3">
            <img src="/images/welcome.png" alt="@comment.User.FullName" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
                <h4>@comment.User.FullName <small><i>Posted on @comment.Created.ToString("MMM dd , yyyy")</i></small></h4>
                <p>@comment.Comment</p>
            </div>
        </div>
    </div>
</div>

}