@model RockwellBugTracker.Models.ViewModel.DashboardViewModel

@using RockwellBugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using RockwellBugTracker.Extensions

@inject IBTCompanyInfoService CompanyService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager
@inject SignInManager<BTUser> SignInManager

<!-- Page Body Start-->
@if (SignInManager.IsSignedIn(User))
{
    BTUser btUser = await UserManager.GetUserAsync(User);
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>
                        Welcome @btUser.FullName!
                    </h3>
                       
                </div>

            </div>
        </div>
    </div>
}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row second-chart-list third-news-update">

        <div class="row">
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"></div>
                            <div class="media-body">
                                <span class="m-0">Number of Tickets</span>
                                <h4 class="mb-0 counter">@Model.Tickets.Count()</h4><i class="icon-bg" data-feather="alert-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden">
                    <div class="bg-danger b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"></i></div>
                            <div class="media-body">
                                <span class="m-0">Number of Projects</span>
                                <h4 class="mb-0 counter">@Model.Projects.Count()</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden">
                    <div class="bg-warning b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"></div>
                            <div class="media-body">
                                <span class="m-0">Number of Team Members</span>
                                <h4 class="mb-0 counter">@Model.Users.Count()</h4><i class="icon-bg" data-feather="user-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <a asp-controller="Tickets" asp-action="AllTickets" class="btn btn-info btn-block shadow-lg" type="submit">View All Tickets</a>


                <a asp-controller="Tickets" asp-action="MyTickets" class="btn btn-success btn-block shadow-lg" type="submit">View My Tickets</a>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                BTUser btUser = await UserManager.GetUserAsync(User);

                <div class="col-xl-4 col-lg-12 xl-50 morning-sec box-col-12">
                    <div class="card custom-card p-0">
                        <div class="card-header"><img class="img-fluid" src="/images/profile-bg.jpg" alt=""></div>
                        <div class="card-profile"><img class="rounded-circle" src="@Model.CurrentImage" alt=""></div>
                        <ul class="card-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <div class="text-center profile-details">
                            <h5>@btUser.FullName</h5>
                            <h6>Company @btUser.CompanyId</h6>

                        </div>
                        <div class="card-footer row">
                            <div class="col-4 col-sm-4">
                                <h6>Follower</h6>
                                <h5 class="counter">6545</h5>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6>Following</h6>
                                <h5><span class="counter">91</span>K</h5>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6>Total Post</h6>
                                <h5><span class="counter">21</span>M</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-xl-8 xl-100 dashboard-sec box-col-12">




                <div class="card card-success card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="bologna-list" role="tablist">
                            <li class="pt-2 px-3"><h5 class="card-title">Projects</h5></li>
                            @{ var i = 0;}
                            @foreach (var prj in Model.Projects.OrderByDescending(p => p.Tickets.Count))
                            {
                                if (i == 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#description-@prj.Id" id="tabs-@prj.Id" role="tab" aria-controls="description" aria-selected="true">@prj.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="#description-@prj.Id" id="tabs-@prj.Id" role="tab" aria-controls="description" aria-selected="false">@prj.Name</a>
                                    </li>
                                }
                                i++;
                            }
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content mt-3">

                            @{ i = 0;}
                            @foreach (var prj in Model.Projects?.OrderByDescending(p => p.Tickets.Count))
                            {
                                <div class="tab-pane active" id="description-@prj.Id" role="tabpanel">



                                    <div class="col-lg-6 col-md-6">
                                        <div class="card">
                                            <div class="body">
                                                <div id="donut">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="card">
                                            <div class="body">
                                                <div id="donut2">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>




            <div class="col-xl-3 xl-50 chart_data_right second d-none">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body right-chart-content">
                                <h4>$95,000<span class="new-box">New</span></h4><span>Product Order Value</span>
                            </div>
                            <div class="knob-block text-center">
                                <input class="knob1" data-width="50" data-height="70" data-thickness=".3" data-fgcolor="#7366ff" data-linecap="round" data-angleoffset="0" value="60">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*ChartJS*@
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="body">
                            <div id="chart3D">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">-->
            <!-- DONUT CHART -->
            <!--<div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Company Ticket Distribution</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
        </div>
    </div>


<!-- Container-fluid Ends-->
<script type="text/javascript">
    @if (Model.Projects.Count > 0)
            {
                @:$('#description-@Model.Projects?.OrderByDescending(p => p.Tickets.Count)?.First().Id').tab('show')
            }

</script>