@model RockwellBugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h1>Project Details</h1>

            </div>
            <div class="col offset-4">
                <a asp-action="Create" class="btn btn-primary btn-block shadow-lg">Create New</a>
                <a asp-action="AssignUsers" asp-route-projectId="@Model.Id" class="btn btn-primary btn-block shadow-lg">Assign Project</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden">
                <div class="bg-danger b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"></i></div>
                        <div class="media-body">
                            <span class="m-0">Priority</span>
                            <h4 class="mb-0 counter">@Model.ProjectPriority.Name</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden">
                <div class="bg-danger b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"></i></div>
                        <div class="media-body">
                            <span class="m-0">Members</span>
                            <h4 class="mb-0 counter">@Model.Members.Count()</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden">
                <div class="bg-warning b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"></i></div>
                        <div class="media-body">
                            <span class="m-0">Project:</span>
                            <h4 class="mb-0 counter">@Model.Name</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden">
                <div class="bg-warning b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"></i></div>
                        <div class="media-body">
                            <span class="m-0">Tickets</span>
                            <h4 class="mb-0 counter">@Model.Tickets.Count()</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">@Model.Name</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Members</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.Name</td>
                                        <td>@Model.Description</td>
                                        <td>@Model.StartDate</td>
                                        <td>@Model.EndDate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Zero Configuration  Ends-->
            @*Task 1: List all of the current comments for this ticket
                Task 2: Give logged in users the ability add a new comment
            *@
</div>
@*<div>
        <h4>Project</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFileName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageFileName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFileData)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageFileData)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FileContentType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FileContentType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Archived)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Archived)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Company.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProjectPriority.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
